:root {
  --logo-font: 'Raleway', sans-serif;
  --primary-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --third-text-color: #ffffff;
  --modal-form-message-placeholder-text-color: rgba(117, 117, 117, 0.5);
  --modal-form-checkbox-text-color: #757575;
  --modal-input-name-text-color: #8e8f99;
  --subscribe-form-text-input-color: rgba(255, 255, 255, 0.3);
  --action-color: #4d5ae5;
  --accent-color: #e7e9fc;
  --pressed-state-color: #404bbf;
  --light-color: #f4f4fd;
  --icon-success: #31d0aa;
  --customers-icon-color: #afb1b8;

  --main-bg-color: #ffffff;
  --hero-bg-color: rgba(46, 47, 66, 0.7);
  --border-bg-color: #2e2f42;
  --Our-team-section-bg-color: #f4f4fd;
  --team-card-bg-color: #ffffff;
  --border-color: #e7e9fc;
  --icon-employees-bg-color: #4d5ae5;
  --icon-footer-bg-color: rgba(255, 255, 255, 0.1);
  --icon-border-bg-color: #8e8f99;
  --border-project-card-color: #f4f4fd;
  --hero-and-modal-btn-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  --modal-bg-color: #fcfcfc;
  --transition-dur-and-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --backdrop-bg-color: rgba(46, 47, 66, 0.4);
  --modal-input-border-color: rgba(33, 33, 33, 0.2);
  --border-checkbox-color: #2e2f42;
  --subscribe-input-border-color: rgba(255, 255, 255, 0.3);
  --subscribe-input-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  --btn-portfolio-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
    0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  --portfolio-card-link-active-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  --team-card-box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  --modal-window-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: var(--primary-text-color);
  background-color: var(--main-bg-color);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body.modal-scroll {
  overflow: hidden;
}

img {
  height: auto;
  width: 100%;
}

.no-scroll {
  overflow: hidden;
}
.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 767px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}

@media screen and (max-width: 1199px) {
  .what-are-we-doing-section {
    display: none;
  }
}

/* ------HEADER-MOBILE----- */
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }

  .address {
    display: none;
  }
}

.page-header-container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  color: var(--action-color);
  font-family: var(--logo-font);
  font-size: 18px;
  text-decoration: none;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo-header {
  color: var(--primary-text-color);
}

/* ----HEADER-Tablet----- */

@media screen and (min-width: 768px) {
  .page-header-container {
    padding-bottom: 0;
    padding-top: 0;
  }

  .border-style {
    border-bottom: 1px solid var(--border-color);
  }

  .mobile-menu {
    display: none;
  }
  .mobile-menu-open_btn {
    display: none;
  }

  .page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .menu {
    display: flex;
    gap: 40px;
  }

  menu-item:not(:last-child) {
    margin-right: 40px;
  }

  .menu-link {
    display: block;
    position: relative;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color var(--transition-dur-and-func);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--action-color);
  }

  .current {
    color: var(--pressed-state-color);
  }

  .current::after {
    position: absolute;
    top: 46px;
    display: block;
    left: 0;
    bottom: 0;
    content: '';
    width: 100%;
    height: 4px;
    background-color: var(--pressed-state-color);
    border-radius: 2px;
  }

  .address {
    padding-top: 24px;
    padding-bottom: 12px;
  }

  .contact-phone-number {
    font-style: normal;
    font-weight: 400;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color var(--transition-dur-and-func);
  }

  .contact-phone-number:hover,
  .contact-phone-number:focus {
    color: var(--action-color);
  }

  .mail {
    font-style: normal;
    font-weight: 400;
    line-height: calc(14 / 12);
    letter-spacing: 0.02em;
    margin-bottom: 20px;
    color: var(--secondary-text-color);
    transition: color var(--transition-dur-and-func);
  }

  .mail:hover,
  .mail:focus {
    color: var(--action-color);
  }

  .logo {
    color: var(--action-color);
    font-family: var(--logo-font);
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 120px;
  }

  .logo-header {
    color: var(--primary-text-color);
  }
}

/* ----HEADER-Desktop----- */

@media screen and (min-width: 1200px) {
  .page-nav {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .address {
    display: flex;
    gap: 40px;
    margin-bottom: 0;
    padding-top: 13px;
  }

  .logo {
    margin-right: 76px;
  }
}

/* -----HERO-MOBILE----- */
.hero {
  padding-top: 112px;
  padding-bottom: 112px;
}

.overlay {
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office-bg-mobile.jpg');
  background-color: var(--hero-bg-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office-bg-mobile@2x.jpg');
  }
}

.hero-background {
  background-color: var(--border-bg-color);
}

.main-title {
  margin: 0 auto;
  width: 290px;
  text-align: center;
  color: var(--third-text-color);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 480px) {
  .main-title {
    font-size: 36px;
    width: 320px;
  }
}

.button-studio {
  display: block;
  margin: 0 auto;
  margin-top: 72px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: inherit;
  font-size: 16px;
  background-color: var(--action-color);
  color: var(--third-text-color);
  box-shadow: var(--hero-and-modal-btn-box-shadow);
  text-align: center;
  letter-spacing: 0.04em;
  border: none;
  border-radius: 4px;
  transition: background-color var(--transition-dur-and-func);
}

.button-studio:hover,
.button-studio:focus {
  background-color: var(--pressed-state-color);
}

/* -----HERO-TABLET----- */

@media screen and (min-width: 480px) {
  .overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office-tablet-bg.jpg');
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/people-office-tablet-bg@2x.jpg');
    }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 112px;
    padding-bottom: 108px;
  }

  .main-title {
    width: 496px;
    font-size: 56px;
    line-height: 1.12;
  }

  .button-studio {
    margin-top: 40px;
  }
}

/* -----HERO-DESKTOP----- */

@media screen and (min-width: 768px) {
  .overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url('../images/people-office-bg-desktop.jpg');
    height: 436px;
    max-width: 1440px;
  }

  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .overlay {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url('../images/people-office-bg-desktop@2x.jpg');
    }
  }
}

@media screen and (min-width: 1200px) {
  .overlay {
    height: 600px;
    max-width: 1440px;
  }
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .button-studio {
    margin-top: 48px;
  }
}

/* -----OUR-ADVANTAGES-MOBILE-----*/

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.our-advantages-wrap {
  max-width: 396px;
}

.our-advantages-titles {
  font-size: 36px;
  font-weight: 700;
  line-height: calc(40 / 36);
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  text-align: center;
}

.our-advantages-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
  color: var(--secondary-text-color);
}

.our-advantages-text-mobile {
  margin-bottom: 72px;
}

/* -----OUR-ADVANTAGES-TABLET-----*/

@media screen and (max-width: 1199px) {
  .our-advantages-icons {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .our-advantages-titles {
    text-align: start;
  }

  .our-advantages-text {
    width: 356px;
  }

  .our-advantages-wrap {
    width: 356px;
  }

  .our-advantages-text-mobile {
    margin: 0;
  }

  .list-of-benefits {
    display: flex;
    flex-wrap: wrap;
    row-gap: 82px;
    column-gap: 24px;
  }

  /* .our-advantages-item {
    width: 356px;
  } */
}

/* -----OUR-ADVANTAGES-DESKTOP-----*/

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .our-advantages-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-color);
    border-radius: 4px;
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
  }

  .our-advantages-wrap {
    width: 264px;
  }

  .our-advantages-titles {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
    width: 264px;
  }

  .our-advantages-text {
    font-weight: 400;
    width: 264px;
  }

  /* ------WHAT-ARE-WE-DOING-DESKTOP----- */
  @media screen and (min-width: 1200px) {
    img {
      display: block;
    }
    .type-of-software {
      display: flex;
      gap: 24px;
    }

    .what-are-we-doing-section {
      padding-bottom: 120px;
    }

    .what-are-we-doing-section-title {
      font-size: 36px;
      font-weight: 700;
      line-height: 1.11;
      letter-spacing: 0.02em;
      margin-bottom: 72px;
      text-align: center;
    }
  }

  .what-are-we-doing-item {
    width: calc((100% - 48px) / 3);
  }
}
/* ------OUR-TEAM-MOBILE----- */

.our-team-cards-bg {
  background-color: var(--Our-team-section-bg-color);
}

.employees {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.employees-card-content-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
  box-shadow: var(--team-card-box-shadow);
  border-radius: 0px 0px 4px 4px;
}

.our-team-social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.our-team-card {
  background-color: var(--team-card-bg-color);
  width: 100%;
  box-shadow: var(--team-card-box-shadow);
}
.our-team-section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.our-team-card-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.our-team-card-text {
  color: var(--secondary-text-color);
  line-height: 1.5;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  gap: 40px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--icon-employees-bg-color);
  transition: background-color var(--transition-dur-and-func);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--pressed-state-color);
}

.social-list-icon {
  fill: var(--light-color);
}

/* ------OUR-TEAM-TABLET----- */

@media screen and (min-width: 768px) {
  .our-team-cards-bg > .container {
    max-width: 584px;
  }
  .section {
    padding-top: 96px;
    padding-bottom: 104px;
  }

  .our-team-card {
    width: calc((100% - 24px) / 2);
  }

  .employees {
    column-gap: 24px;
    row-gap: 64px;
  }
}

/* ------OUR-TEAM-DESKTOP----- */

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .our-team-cards-bg > .container {
    max-width: 1158px;
  }
  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .our-team-card {
    width: calc((100% - 72px) / 4);
  }

  .employees {
    row-gap: 0;
  }
}

/* ------CUSTOMERS-MOBILE------ */

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 14px;
}

.customers-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.customers-list-item {
  width: calc((100% - 16px) / 2);
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 88px;
  border: 1px solid var(--icon-border-bg-color);
  border-radius: 4px;
  color: var(--customers-icon-color);
  transition: color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func);
}

.customers-list-icon {
  fill: currentColor;
}

.customers-list-link:hover,
.customers-list-link:focus {
  border-color: var(--pressed-state-color);
  color: var(--pressed-state-color);
}

/* ------CUSTOMERS-TABLET----- */
@media screen and (min-width: 768px) {
  .customers > .container {
    max-width: 584px;
  }
  .customers-list {
    column-gap: 24px;
  }

  .customers-list-item {
    width: calc((100% - 48px) / 3);
  }
}

/* ------CUSTOMERS-DESKTOP----- */
@media screen and (min-width: 1200px) {
  .customers > .container {
    max-width: 1158px;
  }
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list-item {
    width: calc((100% - 120px) / 6);
  }
}

/* ------FOOTER-MOBILE----- */

.footer-bg {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: var(--border-bg-color);
  text-align: center;
}

.logo-footer {
  color: var(--light-color);
}

.logo-footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-text {
  width: 264px;
  color: var(--accent-color);
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-top: 16px;
}

.social-media-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
  margin-bottom: 16px;
}

.social-links-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
}

.social-list-footer {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.social-list-link-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--icon-footer-bg-color);
  transition: background-color var(--transition-dur-and-func);
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
  background-color: var(--icon-success);
}

.subscribe-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--third-text-color);
  margin-bottom: 16px;
}

@media screen and (max-width: 1199px) {
  .subscribe-form {
    margin-top: 72px;
  }
}

.subscribe-form-input {
  width: 100%;
  height: 40px;
  padding: 8px 16px 8px 16px;
  margin-bottom: 16px;
  color: var(--subscribe-form-text-input-color);
  background-color: var(--border-bg-color);
  border: 1px solid var(--subscribe-input-border-color);
  filter: var(--subscribe-input-filter);
  border-radius: 4px;
  transition: var(--transition-dur-and-func);
}

.subscribe-form-input:focus {
  outline: none;
  border: 1px solid var(--action-color);
  border-radius: 4px;
}

.form-input::placeholder {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--subscribe-placeholder-text-color);
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin: 0 auto;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--third-text-color);
  background-color: var(--action-color);
  border-radius: 4px;
  padding: 8px 24px;
  transition: var(--transition-dur-and-func);
  border: none;
}

.subscribe-button:hover,
.subscribe-button:focus {
  background-color: var(--pressed-state-color);
}

/* ------FOOTER-LAPTOP----- */
@media screen and (min-width: 768px) {
  .footer-bg > .container {
    max-width: 584px;
  }

  .footer-bg {
    text-align: start;
  }

  .footer-wrap {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .social-links-wrap {
    margin-top: 0;
  }

  .logo-footer {
    color: var(--light-color);
  }

  .logo-footer-margin {
    margin-right: 0;
  }

  .logo-footer-wrap {
    align-items: start;
  }

  .social-media-text {
    margin-top: 0;
    margin-bottom: 16px;
  }

  .social-links-wrap {
    margin-left: 0;
    margin-right: 0;
  }

  .subscribe-form {
    width: 453px;
  }

  .subscribe-wrap {
    display: flex;
    gap: 24px;
  }
  .subscribe-form-input {
    margin-bottom: 0;
  }
}

/* ------FOOTER-desktop----- */

@media screen and (min-width: 1200px) {
  .footer-bg > .container {
    max-width: 1158px;
  }

  .footer-bg {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-wrap {
    display: flex;
    align-items: baseline;
    column-gap: 0;
  }
  .social-links-wrap {
    margin-left: 120px;
  }
  .subscribe-form {
    margin-left: 80px;
  }
}

/* ------MOBILE-MENU------ */

@media screen and (max-width: 767px) {
  .border-style {
    border-bottom: 1px solid var(--border-color);
  }

  .mobile-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms linear, visibility 500ms linear;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu > .mobile-menu-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .mobile-menu-container {
    position: relative;
    padding-left: 40px;
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .mobile-menu-close_btn {
    position: absolute;
    top: 24px;
    right: 24px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--accent-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color var(--transition-dur-and-func);
  }

  .mobile-menu-open_btn {
    margin-left: auto;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }

  .logo {
    margin-right: 0;
  }

  .menu-list {
    margin-bottom: 284px;
  }
  .menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color);
  }

  .current {
    color: var(--pressed-state-color);
  }

  .menu-link-studio-item {
    margin-bottom: 40px;
  }

  .menu-link-portfolio-item {
    margin-bottom: 40px;
  }

  .contact-phone-number {
    font-weight: 700;
    font-size: 27px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #4d5ae5;
  }

  .social-list-mob-menu {
    display: flex;
    justify-content: start;
    gap: 34px;
  }

  @media screen and (min-width: 480px) {
    .contact-phone-number {
      font-size: 36px;
    }
    .social-list-mob-menu {
      gap: 56px;
    }
  }

  .contact-phone-number-item {
    margin-bottom: 40px;
  }

  .mail {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
    letter-spacing: 0.02em;
    color: #434455;
  }

  .mail-link-item {
    margin-bottom: 48px;
  }
}

/* ------ MODAL-WINDOW-MOBILE------ */
.backdrop {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-bg-color);
  transition: opacity var(--transition-dur-and-func),
    visibility var(--transition-dur-and-func);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 586px;
  background-color: var(--modal-bg-color);
  box-shadow: var(--modal-window-box-shadowbox-shadow);
  border-radius: 4px;
  padding-top: 72px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 24px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--accent-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--transition-dur-and-func);
}

.modal-close-btn-icon {
  transition: fill var(--transition-dur-and-func);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--pressed-state-color);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #ffffff;
}

@media screen and (min-width: 480px) {
  .modal {
    min-width: 392px;
    min-height: 586px;
  }
}

/*------ MODAL-WINDOW-LAPTOP------*/
@media screen and (min-width: 768px) {
  .modal {
    width: 408px;
    padding-left: 24px;
    padding-right: 24px;
  }
}

/*--------- MODAL-FORM-MOBILE ---------*/
.modal-text {
  font-size: 13px;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 14px;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-input {
  width: 288px;
  height: 40px;
  padding: 11px 16px 11px 38px;
  border: 1px solid var(--modal-input-border-color);
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
  background-color: var(--modal-bg-color);
}

.modal-form-input:focus {
  outline: none;
  border: 1px solid var(--action-color);
  border-radius: 4px;
}

.modal-form-input-desc {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--modal-input-name-text-color);
}

.modal-form-input-wrapper {
  position: relative;
}

.modal-form-field {
  margin-bottom: 8px;
}

.modal-input-icon {
  display: block;
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-func);
}

.modal-form-input:focus + .modal-input-icon {
  fill: var(--action-color);
}

.modal-form-message {
  resize: none;
  width: 288px;
  height: 120px;
  padding-top: 8px;
  padding-left: 16px;
  border-radius: 4px;
  transition: border-color var(--transition-dur-and-func);
  background-color: var(--modal-bg-color);
  border: 1px solid var(--modal-input-border-color);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--action-color);
}

.modal-form-message::placeholder {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--modal-form-message-placeholder-text-color);
}

.modal-form-check-desc {
  font-size: 10px;
  line-height: calc(16 / 12);
  letter-spacing: 0.04em;
  color: var(--modal-form-checkbox-text-color);
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.modal-form-check-desc::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--border-checkbox-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.modal-form-check:checked + .modal-form-check-desc::before {
  background-image: url('../images/checkbox.svg');
  border: transparent;
}

.privacy-policy-text {
  color: var(--action-color);
}

.modal-form-send-btn {
  align-self: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 169px;
  align-items: center;
  text-align: center;
  cursor: pointer;
  color: var(--third-text-color);
  background-color: var(--action-color);
  box-shadow: var(--hero-and-modal-btn-box-shadow);
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition-dur-and-func);
}

.modal-form-send-btn:hover,
.modal-form-send-btn:focus {
  background-color: var(--pressed-state-color);
}

@media screen and (min-width: 480px) {
  .modal-text {
    font-size: 16px;
  }

  .modal-form-input {
    width: 360px;
  }

  .modal-form-message {
    width: 360px;
  }

  .modal-form-check-desc {
    font-size: 12px;
  }
}

/*------- MAIN-PORTFOLIO-MOBILE -------*/

@media screen and (max-width: 1199px) {
  .overlay-project-card {
    display: none;
  }
}

.projects-section {
  padding-top: 48px;
  padding-bottom: 48px;
}

.btn-portfolio {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--light-color);
  color: var(--action-color);
  font-family: inherit;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  box-shadow: var(--btn-portfolio-box-shadow);
  transition: color var(--transition-dur-and-func),
    border-color var(--transition-dur-and-func),
    background-color var(--transition-dur-and-func);
}

.btn-wrap-start {
  display: flex;
  gap: 24px;
  margin-bottom: 16px;
}

.btn-wrap-end {
  display: flex;
  gap: 24px;
  margin-bottom: 48px;
}

.project-card {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.project-card:not(:last-child) {
  margin-bottom: 48px;
}

.project-card-content-wrapper {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.project-card-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.project-card-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}

/*------- MAIN-PORTFOLIO-LAPTOP -------*/

@media screen and (min-width: 768px) {
  .projects-section {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .btn-portfolio {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .buttons {
    display: flex;
    gap: 24px;
    justify-content: center;
  }

  .btn-wrap-end {
    margin-bottom: 64px;
  }

  .project-cards-content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .project-card {
    width: calc((100% - 24px) / 2);
  }

  .project-card:not(:last-child) {
    margin-bottom: 0px;
  }
}

/*------- MAIN-PORTFOLIO-DESKTOP -------*/
@media screen and (min-width: 1200px) {
  .projects-section {
    padding-top: 100px;
    padding-bottom: 120px;
  }

  .btn-wrap-start {
    margin-bottom: 0px;
  }

  .btn-wrap-end {
    margin-bottom: 0;
  }
  .buttons {
    margin-bottom: 72px;
  }

  .project-card {
    width: calc((100% - 48px) / 3);
    box-shadow: none;
  }

  .portfolio-card-link {
    display: block;
    transition: border var(--transition-dur-and-func),
      box-shadow var(--transition-dur-and-func);
  }

  .portfolio-card-link:hover {
    box-shadow: var(--portfolio-card-link-active-box-shadow);
  }

  .portfolio-card-link:focus {
    box-shadow: var(--portfolio-card-link-active-box-shadow);
  }

  .product-thumb {
    position: relative;
    overflow: hidden;
  }

  .overlay-project-card {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid var(--border-project-card-color);
    background-color: var(--action-color);
    transform: translate(0, 100%);
    transition: transform var(--transition-dur-and-func);
  }

  .portfolio-card-link:hover .overlay-project-card {
    transform: translate(0);
  }

  .portfolio-card-link:focus .overlay-project-card {
    transform: translate(0);
  }

  .overlay-project-card > p {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--light-color);
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
